.app-container{
    display:flex;
}

.content{
    width:100%;
}

.sidebar{
    min-height: 800px;
}

.post-card{
    margin: 50px 60px;
}

.hashtag{
    margin:0px 10px;

}

.delete{
    color:white;
    padding:0px 12px 8px 12px;
    border-radius: 10px;
    font-size: x-large;
    cursor:pointer;
}

.create-post{
    width: 50%;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}